# dependencies
node_modules

# next.js
.next/
out/

# build
dist/
build/

# env files
.env
.env.local
.env.*.local

# typescript
tsconfig.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# debug
npm-debug.log*
